*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: minmax(60px,auto);
    grid-template-areas:
    'header header header'
    'nav main main'
    'nav main main'
    'footer footer footer';
}
  
.section {
    flex-direction: column;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: nav;
    height: 400px;
}


.item3 {
    grid-area: main;
    height: 400px;
}

.item4 {
    grid-area: footer;
    height: 150px;
}


.grid-item {
    background-color: rgb(5, 53, 53);
}

